name: Build and deploy LaTeX

on:
        push:
                branches:
                        - '*'
                        - '!ci_integration'
                        - '!lec*'
                        - '!dev'

jobs:
        build:
                runs-on: ubuntu-latest
                steps:
                        - uses: actions/checkout@v2

                        - name: PrepareBuild
                          run: |
                                  mkdir raw_build
                                  echo ::set-env name=BRANCH_NAME::$(echo ${GITHUB_REF#refs/heads/})
                          id: extract_branch
                        - name: Build
                          uses: xu-cheng/latex-action@v2
                          with:
                                  branch_name: ${{ env.BRANCH_NAME }}
                                  root_file: main.tex
                                  working_directory: lectures/${{ env.BRANCH_NAME }}
                                  args: -output-dir=../../raw_build -jobname=${{ env.BRANCH_NAME }}
                                  compiler: pdflatex
                                  post_compile: "pdflatex -output-dir=../../raw_build -jobname=$BRANCH_NAME main.tex"

                        - name: Prepare
                          run: |
                                  mkdir build
                                  cd build
                                  mkdir resourses
                                  cd ..
                                  mv raw_build/${{ env.BRANCH_NAME}}.pdf build/resourses  

                        - name: Deploy
                          uses: JamesIves/github-pages-deploy-action@3.5.9
                          with: 
                                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                                  BRANCH: gh-pages
                                  FOLDER: build
                        - name: Upload
                          uses: satackey/action-google-drive@v1
                          with:
                                  skicka-tokencache-json: ${{ secrets.SKICKA_TOKENCACHE_JSON }}
                                  upload-from: ./build/resourses
                                  upload-to: /lectures/${{ env.BRANCH_NAME }}
                                  google-client-id: ${{ secrets.GOOGLE_CLIENT_ID }}
                                  google-client-secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
